<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>ESRIRuntimeLiteLicenseKey</key>
	<string>$(ESRI_RUNTIME_LITE_LICENSE_KEY)</string>
	<key>ESRIRuntimeSMPNAExtensionLicenseKey</key>
	<string>$(ESRI_RUNTIME_SMPNA_EXTENSION_LICENSE_KEY)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>86a4adbfdfadd29989e70de6c577ae66c5340d6c</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>arcgis.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>arcgisonline.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>cloudflare.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>esri.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>For taking pictures or videos as attachments</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To show your location on the map</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For adding pictures from your photo library as attachments</string>
	<key>SFAuthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>SFDCOAuthLoginHost</key>
	<string>$(SF_LOGIN_HOST)</string>
	<key>SFLoginHost</key>
	<string>$(SF_LOGIN_HOST)</string>
	<key>SFOAuthRedirectURI</key>
	<string>testsfdc:///mobilesdk/detect/oauth/done</string>
	<key>SFRemoteAccessConsumerKey</key>
	<string>$(SF_CONSUMER_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NHaasGroteskDSPro-15UltTh</string>
		<string>NHaasGroteskDSPro-16UltThIt</string>
		<string>NHaasGroteskDSPro-25Th</string>
		<string>NHaasGroteskDSPro-26ThIt</string>
		<string>NHaasGroteskDSPro-35XLt</string>
		<string>NHaasGroteskDSPro-36XLtIt</string>
		<string>NHaasGroteskDSPro-45Lt</string>
		<string>NHaasGroteskDSPro-46LtIt</string>
		<string>NHaasGroteskDSPro</string>
		<string>NHaasGroteskDSPro-56It</string>
		<string>NHaasGroteskDSPro-65Md</string>
		<string>NHaasGroteskDSPro-66MdIt</string>
		<string>NHaasGroteskDSPro-75Bd</string>
		<string>NHaasGroteskDSPro-76BdIt</string>
		<string>NHaasGroteskDSPro-95Blk</string>
		<string>NHaasGroteskDSPro-96BlkIt</string>
		<string>NHaasGroteskTXPro-55Rg</string>
		<string>NHaasGroteskTXPro-56It</string>
		<string>NHaasGroteskTXPro-65Md</string>
		<string>NHaasGroteskTXPro-66MdIt</string>
		<string>NHaasGroteskTXPro-75Bd</string>
		<string>NHaasGroteskTXPro-76BdIt</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
