<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Edit Issue</string>
		<key>name</key>
		<string>Edit Issue</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ViewIssueNotes</string>
		<key>name</key>
		<string>Notes</string>
	</dict>
    <dict>
        <key>id</key>
        <string>Remove</string>
        <key>name</key>
        <string>Remove</string>
    </dict>
</array>
</plist>
