<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   InTakeIssue.plist
   EngageNYC

   Created by Kamal on 27/01/18.
   Copyright (c) 2018 mtxb2b. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>id</key>
            <string>Issue</string>
            <key>name</key>
            <string>Issue</string>
        </dict>
        <dict>
            <key>id</key>
            <string>ViewIssueNotes</string>
            <key>name</key>
            <string>Notes</string>
        </dict>
    </array>
</plist>
